
html {background-color: #F2E9EB}

.tiles {
    display:flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 20px;

}

.content {
    padding: 150px 40px 40px;

}

.saved-recipes {
    padding: 20px 0;
}


.new-recipe-button {
    padding: 10px;
    text-decoration: none;
    background-color: #31383F;
    color: white;

    border-radius: 4px;
}

.new-recipe-button:hover {

    background-color: #5f6469;
    color: white;
}
